.vertical-center-task-list{
  padding: 4px;
  width: 50%;
  border: 2px solid #2fc8ee;
  margin:10% auto;

}

.task{
  border-bottom: 1px solid #4faa93;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: first baseline;
}

.task:last-child{
  border: none;
  padding: 0px;
}

.del-btn{
  background-image: url(./assets/delete.png);
background-repeat: no-repeat;
background-position: center;
background-color: transparent; /* make the button transparent */
background-repeat: no-repeat;  /* make the background image appear only once */
background-position: 0px 0px;  /* equivalent to 'top left' */
border: none;           /* assuming we don't want any borders */
cursor: pointer;        /* make the cursor like hovering over an <a> element */
height: 20px;           /* make this the size of your image */
padding-left: 16px;     /* make text start to the right of the image */
/* vertical-align: middle; align the text vertically centered */

}